@import 'tailwindcss';
@import '@nuxt/ui';
@import 'bytemd/dist/index.css';

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  --animate-glow: glow var(--duration) infinite linear;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  @keyframes glow {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    to {
      background-position: 0% 0%;
    }
  }
}

@layer base {
  html,
  body {
    @apply m-0 p-0 size-full;
  }

  @keyframes vue-spinner-right {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(180deg) rotateY(360deg) rotateZ(360deg);
    }
  }

  @keyframes vue-spinner-left {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
    }
  }
}

/* hide bytemd toolbar third icon full screen */
.bytemd-toolbar-right {
  & .bytemd-toolbar-icon {
    &:nth-child(3) {
      @apply hidden;
    }
  }
}
